.btn {
    display: flex;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    background-color: #69CFC4;
    color: #1D3A43;
    line-height: 3.5rem;
    margin: 10px 10px;
    border-radius: 1.2rem;
    font-weight: bold;
}